<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>{{titulo}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Matricula Inmobiliaria" formControlName="MatInmueble">
            <mat-error *ngIf="addressForm.controls['MatInmueble'].hasError('required')">
              Matricula Inmobiliaria <strong>requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Chip" formControlName="ChipInmueble">
            <mat-error *ngIf="addressForm.controls['ChipInmueble'].hasError('required')">
              Chip Inmueble <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Cedula Propietario" formControlName="CedulaPropietario">
            <mat-error *ngIf="addressForm.controls['CedulaPropietario'].hasError('required')">
              Cedula Propietario <strong>requireda</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <mat-form-field class="full-width">
          <input matInput placeholder="Matricula Proyecto" formControlName="MatProyecto">
          <mat-error *ngIf="addressForm.controls['MatProyecto'].hasError('required')">
            Matricula Proyecto <strong>requireda</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Tipo de Inmueble" formControlName="TipInmuebe">
            <mat-error *ngIf="addressForm.controls['TipInmuebe'].hasError('required')">
              Tipo de Inmueble <strong>requiredo</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nomenclatura" formControlName="Nomenclatura">
            <mat-error *ngIf="addressForm.controls['Nomenclatura'].hasError('required')">
              Nomenclatura <strong>requiredo</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Numero de Escritura" formControlName="NumEscritura">
            <mat-error *ngIf="addressForm.controls['NumEscritura'].hasError('required')">
              Numero de Escritura <strong>requiredo</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Area Privada" formControlName="AreaPrivada">
            <mat-error *ngIf="addressForm.controls['AreaPrivada'].hasError('required')">
              Area Privada <strong>requireda</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <mat-form-field class="full-width">
          <input matInput placeholder="Area Construida" formControlName="AreaConstruida">
          <mat-error *ngIf="addressForm.controls['AreaConstruida'].hasError('required')">
            Area Construida <strong>requiredo</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Alcobas" formControlName="Alcobas">
            <mat-error *ngIf="addressForm.controls['Alcobas'].hasError('required')">
              Alcobas <strong>requiredo</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <mat-form-field class="full-width">
          <input matInput placeholder="Baños" formControlName="Banio">
          <mat-error *ngIf="addressForm.controls['Banio'].hasError('required')">
            Baños <strong>requiredo</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Vehiculos" formControlName="Vehiculos">
          <mat-error *ngIf="addressForm.controls['Vehiculos'].hasError('required')">
            Vehiculos <strong>requiredo</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">{{accion}}</button>
    </mat-card-actions>
  </mat-card>
</form>