<div class="login">
    <div class="login-triangle"></div>
    
    <h2 class="login-header">Log in</h2>
  
    <form class="login-container" [formGroup]="loginForm" (submit)="onSubmit()">
        <mat-form-field class="full-width">
            <input matInput type="email" placeholder="correo" formControlName="correo">
        </mat-form-field>
        
        <mat-form-field class="full-width">
            <input matInput type="password" placeholder="contraseña" formControlName="contrasenia">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">INGRESAR</button>
    </form>
  </div>