<div class="wrapper">
    <div class="body">
        <img class="logo" src="../../../assets/img/CrMercantil.png" alt="CrMercantilLogin">
        <h1>Crear Usuario</h1>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Usuario</mat-label>
                <input matInput placeholder="Ingrese su Usuario">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Ingrese su contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Confirme su contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
        </div>
        <div class="">
            <button mat-raised-button color="primary">Crear Cuenta</button>
        </div>
        <a href="">Volver</a>
    </div>
</div>